@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BNPP Sans";
  src: url("https://bfomantic.s3.eu-west-3.amazonaws.com/dist/themes/bnpls/assets/fonts/bnpp-sans.woff")
      format("woff"),
    url("https://bfomantic.s3.eu-west-3.amazonaws.com/dist/themes/bnpls/assets/fonts/bnpp-sans.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
/*
@font-face {
  font-family: "BNPSansCondensed";
  src: url("@/assets/fonts/bnpp_sans_cond_v2-webfont.eot");
  src: url("@/assets/fonts/bnpp_sans_cond_v2-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("@/assets/fonts/bnpp_sans_cond_v2-webfont.woff") format("woff"),
    url("@/assets/fonts/bnpp_sans_cond_v2-webfont.ttf") format("truetype"),
    url("@/assets/fonts/bnpp_sans_cond_v2-webfont.svg#BNPSansCondensed")
      format("svg");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "BNPRounded", sans-serif;
  src: url("@/assets/fonts/bnpp-rounded-v2.eot");
  src: url("@/assets/fonts/bnpp-rounded-v2.eot?#iefix")
      format("embedded-opentype"),
    url("@/assets/fonts/bnpp-rounded-v2.woff") format("woff"),
    url("@/assets/fonts/bnpp-rounded-v2.ttf") format("truetype"),
    url("@/assets/fonts/bnpp-rounded-v2.svg#BNPRounded") format("svg");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}
*/

